*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


.container{
height: 100vh;
width: 100vw;
display: flex;
justify-content: space-evenly;

}

.chessboard{
border: 2px solid black;
height: 100%;
width: 62%;
display: flex;
flex-wrap: wrap;

}

.box{

    height: 91.8px;
    width: calc(100%/8);
    background-color: white;
    font-size: 65px;
    text-align: center;
    text-shadow: 1px 1px white;

}

.box1{
    
     height: 91.8px;
    width: calc(100%/8);
     background-color: black;
    font-size: 65px;
    text-align: center;
    text-shadow: 1px 1px white;
    
    
}
    


